.projects-container a {

    text-decoration: none;
    font-weight: 600;
    padding-bottom: 5px;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.5s, color 0.5s;
}

.projects-section {
    opacity: 0;
    transition: opacity 0.8s ease-in;
    border: 1px solid transparent;
}

.projects-section.visible {
    opacity: 1;
}

.projects-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 0 125px;
}


.projects-row {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 10px 0px;
    margin: 25px 0;
}

.projects-col {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.projects-sub-col {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 25px;
}

.projects-heading {
    display: flex;
    align-items: flex-end;
    margin-top: 75px;
}

.projects-line {
    flex-grow: 1;
    height: 2px;
    background-color: #43ec76;
    box-shadow: 0 0 15px rgb(67, 236, 118, 0.6);
}

.projects-title {
    font-size: 28px;
    margin-right: 10px;
}

.check-repos {
    color: #f4f4f4;
    font-size: 20px;
    cursor: pointer;
    border-bottom: 2px solid transparent;
    letter-spacing: 0.05em;
    text-shadow: 0 0 15px rgb(67, 236, 118, 0.6);
}

.check-repos:hover {
    border-bottom: 2px solid #43ec76;
    color: #dadada;
}

@media (max-width: 768px) {
    .projects-sub-col {
        display: none;
    }

    .projects-container {
        margin: 0;
        padding: 0;
    }

    .projects-row {
        flex-direction: column;
        padding: 0;
        margin: 0;
    }

    .projects-sub-col {
        margin: 0;
        padding: 0;
    }

    .projects-line {
        display: none;
    }

    a {
        margin-left: 0;
        margin-right: 0;
    }

    .check-repos {
        text-align: center;
        margin: 50px;
    }
}