.contact-section {
    opacity: 0;
    transition: opacity 0.8s ease-in;
    border: 1px solid transparent;
}

.contact-section.visible {
    opacity: 1;
} 

.contact-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
    margin-top: 100px 0;
}

.contact-heading {
    display: flex;
    align-items: flex-end;
    margin: 10px 0;
}

.contact-line {
    flex-grow: 1;
    height: 2px;
    background-color: #43ec76;
    box-shadow: 0 0 15px rgb(67, 236, 118, 0.6);
}

.contact-row {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.contact-col {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px 125px;
}

.contact-title {
    
    font-size: 28px;
    margin-right: 10px;
    margin-left: 10px;
}

.contact-row p {
    font-size: 17px;
    font-weight: 700
}

.contact-icon {
    width: 50px;
    background-color: white;
    border-radius: 50%;
}

.contact-icon:hover {
    background-color: #dbdbdb;
}

.space {
    margin: 0 20px;
}