ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 600;
    margin: 25px;
    padding-bottom: 5px;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.5s, color 0.5s;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    padding: 0px 150px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    box-shadow: 0 0 5px rgb(0, 0, 0, 0.4);
    background-color: #061e3f;
}

.navbar-logo {
    margin: 25px 0px;
    font-size: 36px;
    font-weight: 600;
    color: #ffffff;
    letter-spacing: 0.05em;
    color: #43ec76;
}

.navbar-row {
    display: flex;
    align-items: center;
}

.navbar-row li a:hover,
.navbar-row li a.active {
    border-bottom: 2px solid #43ec76;
    color: #c9c9c9;
}
